body{
    background-color: white;
    font-family: sans-serif;
}
h1
{
    padding: 0;
}
.Post
{
    margin: 20px;
    width: 40vw;
    height: 100%;
    padding: 1vw;
    background-color: #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}